<form >
    <div>
        <label>Title:</label>
        <input id="new-post-title"/>
    </div>
    <div>
        <label>Body:</label>
        <textarea id="new-post-body"></textarea>
    </div>
    <div>
        <button id="create-post">Create</button>
    </div>
</form>

<script src="./js/new_post.js"></script>