<section >
  <div class="basic-card">
    <div class="basic-card-head">
      <h2>Sign Up</h2>
    </div>
    <div class="basic-card-body">
      <label>Username</label>
      <input id="signup-username-input">
      <label>Password</label>
      <input id="signup-password-input">
      <button id="signup-btn">Submit</button>
    </div>
    <a href="./login">Login Instead</a>
  </div>
</section>

<script src="./js/login_signup.js"></script>